################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSiteMobile/.vs/WebApplicationMobile/v15/Server/sqlite3
