################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSiteMobile/.vs/WebApplicationMobile/v15/Server/sqlite3
/WebSiteMobile/WebApplicationMobile/obj
/WebSiteMobile/WebApplicationMobile/bin/Debug/netcoreapp2.0
/WebSiteMobile/.vs/config
WebSiteMobile/WebApplicationMobile/appsettings.json
