@{
    ViewData["Title"] = "Account balance";
}
<h2>@ViewData["Title"]</h2>
 

     
<div class="row">

    <div class="col-md-12">
         
                    
                    <div class="input-group" id="accountbalance">
                        <!----><span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
          
 
    </div>
    <!--
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
        </ul>
    </div>
 -->
</div>
